@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background-image: url(imagens/gw_fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    position: relative;
    height: 100vh;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 470px;
    background: url(imagens/celular.png) no-repeat;
}
section#logos{
    padding-top:120px;
    text-align: center;
}
iframe#conteudo{
    border-radius: 30px;
    position: relative;
    top: 14px;
    left: 14px;
    border: none;
    height: 218px;
    width: 450px;
}
section img{
    margin: 10px;
    width: 50px;
    border-radius: 50%;
}
